body {
    font-family: 'Roboto', Arial, sans-serif;
}

.first-section {
    background-color: #1f2937;
    display: flex;
    flex-direction: column;
}

.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0 100px 0 100px;
}

.header-logo {
    font-size: 24px;
    font-weight: 700;
    color: #f9faf8;

}

.hero-second {
    font-size: 18px;
    color: #e5e7eb;
    display: flex;
    
}

.hero-main {
    font-size: 48px;
    color: #f9faf8;
    font-weight:700;
    margin: 0 0 0 0;
}

.header-link {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    
}

.first-section {
    display: flex;
    background-color: #1f2937;
}

.subtext {
    display: flex;
    flex-direction: column;
    width: 500px;

}

.subtext-image {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin: 50px 100px 0 100px;
}

.hero-image {
    width: 400px;
    height: auto;
    text-align: center;
}

.third-section {
    background-color: grey;
}

.quote {
    color: #1f2937;
    font-size: 36px;
    font-weight: 400;
}